[Unit]
Description=Job that runs intermittent-failure-tracker
Requires=network-online.target

[Service]
ExecStart={{ common.servo_home }}/intermittent-failure-tracker/_venv/bin/intermittent_failure_tracker
Environment=HOME={{ common.servo_home }}
User=servo
Group=servo
WorkingDirectory={{ common.servo_home }}/intermittent-failure-tracker

[Install]
WantedBy=multi-user.target
