# Priority values above max_priority will be refused.
max_priority = 9002

[github]

# Information for securely interacting with GitHub. These are found/generated
# under <https://github.com/settings/applications>.

# A GitHub personal access token
access_token = "{{ secrets['gh-access-token'] }}"

# A GitHub oauth application for this instance of homu:
app_client_id = "{{ secrets['app-client-id'] }}"
app_client_secret = "{{ secrets['app-client-secret'] }}"

[web]
host = "0.0.0.0"
port = 54856
secret = "{{ secrets['web-secret'] }}"

{% set repos = {
    "angle": {},
    "app_units": {},
    "cgl-rs": {},
    "cocoa-rs": {},
    "core-foundation-rs": {
        "extra_reviewers": [ "jrmuizel" ]
    },
    "core-graphics-rs": {
        "extra_reviewers": [ "jrmuizel" ]
    },
    "core-text-rs": {
        "extra_reviewers": [ "jrmuizel" ]
    },
    "devices": {},
    "download.servo.org": {},
    "dwrote-rs": {
        "travis": False,
        "appveyor": True,
        "extra_reviewers": [ "jrmuizel" ],
    },
    "euclid": {
        "extra_reviewers": [ "nical" ],
    },
    "fontsan": {},
    "futf": {},
    "gaol": {},
    "gecko-media": {
        "extra_reviewers": [ "cpearce", "philn" ],
    },
    "gleam": {
        "extra_reviewers": [ "jrmuizel" ],
    },
    "glutin": {},
    "heapsize": {},
    "highfive": {},
    "homu": {},
    "html5ever": {
        "extra_reviewers": [ "Ygg01" ],
    },
    "hyper_serde": {},
    "io-surface-rs": {},
    "ipc-channel": {
        "extra_reviewers": [ "antrik", "dlrobertson" ],
        "appveyor": True,
    },
    "libexpat": {},
    "libfontconfig": {},
    "libfreetype2": {},
    "media": {
        "extra_reviewers": [ "ceyusa", "philn", "sdroege" ],
    },
    "mozangle": {
        "appveyor": True,
    },
    "mozjs": {
        "appveyor": True,
    },
    "osmesa-src": {},
    "plane-split": {},
    "rust-azure": {},
    "rust-bindgen": {
        "extra_reviewers": [ "fitzgen" ],
        "owner": "rust-lang",
        "travis": False,
        "travis-legacy": True,
    },
    "rust-cssparser": {},
    "rust-fnv": {},
    "rust-fontconfig": {},
    "rust-freetype": {},
    "rust-glx": {},
    "rust-harfbuzz": {
        "extra_reviewers": [ "waywardmonkeys" ],
    },
    "rust-layers": {},
    "rust-mozjs": {
        "appveyor": True,
    },
    "rust-offscreen-rendering-context": {},
    "rust-png": {},
    "rust-quicksort": {},
    "rust-selectors": {},
    "rust-smallvec": {},
    "rust-stb-image": {},
    "rust-url": {
        "extra_reviewers": [ "Hoverbear" ],
    },
    "rust-websocket": {},
    "rust-webvr": {
      "extra_reviewers": [ "MortimerGoro" ],
    },
    "servo": {
        "travis": False,
        "taskcluster": True,
    },
    "saltfs": {},
    "servo-starters": {},
    "servo-warc-tests": {},
    "skia": {},
    "string-cache": {},
    "tendril": {},
    "unicode-bidi": {
        "extra_reviewers": [ "behnam" ],
    },
    "unicode-script": {},
    "webrender": {
        "extra_reviewers": [ "nical", "jrmuizel", "Gankro", "staktrace", "moz-gfx" ],
        "taskcluster": True,
        "appveyor": True,
        "travis": False,
    },
    "webrender_traits": {
        "travis": False,
    },
    "webxr": {
      "extra_reviewers": [ "MortimerGoro" ],
    },
} %}

{% set reviewers = [
    "aneeshusa",
    "asajeffrey",
    "avadacatavra",
    "bholley",
    "bzbarsky",
    "canaltinova",
    "cbrewster",
    "edunham",
    "emilio",
    "ferjm",
    "frewsxcv",
    "glennw",
    "gw3583",
    "heycam",
    "jdm",
    "jgraham",
    "KiChjang",
    "kmcallister",
    "kvark",
    "larsbergstrom",
    "Manishearth",
    "mbrubeck",
    "metajack",
    "michaelwu",
    "mrobinson",
    "Ms2ger",
    "notriddle",
    "nox",
    "paulrouget",
    "pcwalton",
    "saneyuki",
    "SimonSapin",
    "shinglyu",
    "upsuper",
    "wafflespeanut",
    "zmike",
] %}

{% set operators = [
    "aethanyc",
    "birtles",
    "BorisChiou",
    "bradwerth",
    "chenpighead",
    "hiikezoe",
    "jryans",
    "moz-servo-sync",
    "servo-wpt-sync",
] %}

{% set try = [
    "askalski",
    "chandler",
    "CYBAI",
    "cynicaldevil",
    "danlrobertson",
    "dsandeephegde",
    "dzbarsky",
    "Eijebong",
    "froydnj",
    "Gankro",
    "gootorov",
    "gsnedders",
    "gterzian",
    "GuillaumeGomez",
    "izgzhen",
    "jonleighton",
    "jyc",
    "magni-",
    "mandreyel",
    "neeharanshu",
    "panup21091993",
    "paulrouget",
    "pyfisch",
    "stshine",
    "tigercosmos",
    "tschneidereit",
    "vvuk",
    "Yoric",
] %}

[repo.servo.buildbot]
url = "http://build.servo.org"
secret = "{{ secrets["buildbot-secret"] }}"
builders = [
    "linux-rel-css",
    "linux-rel-wpt",
]
try_builders = [
    "linux-rel-css",
    "linux-rel-wpt",
]
username = "{{ secrets["buildbot-http-user"] }}"
password = "{{ secrets["buildbot-http-pass"] }}"

[repo.servo.buildbot.try_choosers]
{% for chooser, builders in homu.servo_try_choosers.items() %}
{{ chooser }} = ["{{ builders | list | join ('\", \"') }}"]
{% endfor %}

# Disabled due to performance and instability
#[repo.servo.status.appveyor]
#context = 'continuous-integration/appveyor/branch'

# Standard per-repo configs (generated)

{% for name, repo in repos.items() %}

[repo."{{ name }}"]
owner = "{{ repo.get("owner", "servo") }}"
name = "{{ name }}"
reviewers = {{ reviewers + operators + repo.get("extra_reviewers", []) }}
try_users = {{ try }}

[repo."{{ name }}".github]
secret = "{{ secrets['gh-webhook-secret'] }}"

{% if repo.get('travis', True) %}
[repo."{{ name }}".checks.travis]
name = "Travis CI - Branch"
{% endif %}

{% if repo.get('travis-legacy', False) %}
[repo."{{ name }}".status.travis]
context = 'continuous-integration/travis-ci/push'
{% endif %}

{% if repo.get('appveyor', False) %}
[repo."{{ name }}".status.appveyor]
context = 'continuous-integration/appveyor/branch'
{% endif %}

{% if repo.get('taskcluster', False) %}
[repo."{{ name }}".status.taskcluster]
context = 'Taskcluster (push)'
{% endif %}

{% endfor %}

# Specialized per-repo configs

[repo.glutin.branch]
master = "servo"

[repo.rust-websocket.branch]
master = "servo"

[db]
file = "{{ db }}"
