[github]

# Information for securely interacting with GitHub. These are found/generated
# under <https://github.com/settings/applications>.

# A GitHub personal access token
access_token = "{{ secrets['gh-access-token'] }}"

# A GitHub oauth application for this instance of homu:
app_client_id = "{{ secrets['app-client-id'] }}"
app_client_secret = "{{ secrets['app-client-secret'] }}"

# Priority values above max_priority will be refused.
max_priority = 9002

[web]
host = "0.0.0.0"
port = 54856
secret = "{{ secrets['web-secret'] }}"

{% set travis_repos = {
    "angle": {},
    "app_units": {},
    "cgl-rs": {},
    "cocoa-rs": {},
    "core-foundation-rs": {},
    "core-graphics-rs": {},
    "core-text-rs": {},
    "devices": {},
    "download.servo.org": {},
    "euclid": {
        "extra_reviewers": [ "nical" ],
    },
    "fontsan": {},
    "futf": {},
    "gaol": {},
    "gecko-media": {
        "extra_reviewers": [ "cpearce", "philn" ],
    },
    "gleam": {},
    "glutin": {},
    "heapsize": {},
    "highfive": {},
    "homu": {},
    "html5ever": {},
    "io-surface-rs": {},
    "ipc-channel": {
        "extra_reviewers": [ "antrik" ],
    },
    "libexpat": {},
    "libfontconfig": {},
    "libfreetype2": {},
    "mozjs": {},
    "osmesa-src": {},
    "rust-azure": {},
    "rust-bindgen": {
        "extra_reviewers": [ "fitzgen", "pepyakin" ],
        "owner": "rust-lang-nursery",
    },
    "rust-cssparser": {},
    "rust-fnv": {},
    "rust-fontconfig": {},
    "rust-freetype": {},
    "rust-glx": {},
    "rust-harfbuzz": {},
    "rust-layers": {},
    "rust-mozjs": {},
    "rust-png": {},
    "rust-quicksort": {},
    "rust-selectors": {},
    "rust-smallvec": {},
    "rust-stb-image": {},
    "rust-url": {
        "extra_reviewers": [ "Hoverbear" ],
    },
    "rust-websocket": {},
    "saltfs": {},
    "servo-starters": {},
    "skia": {},
    "string-cache": {},
    "tendril": {},
    "unicode-bidi": {
        "extra_reviewers": [ "behnam" ],
    },
    "unicode-script": {},
    "webrender": {
        "extra_reviewers": [ "nical", "jrmuizel", "Gankro" ],
    },
    "webrender_traits": {},
} %}

{% set reviewers = [
    "aneeshusa",
    "asajeffrey",
    "avadacatavra",
    "bholley",
    "bzbarsky",
    "canaltinova",
    "cbrewster",
    "edunham",
    "emilio",
    "frewsxcv",
    "glennw",
    "heycam",
    "jdm",
    "jgraham",
    "KiChjang",
    "kmcallister",
    "kvark",
    "larsbergstrom",
    "Manishearth",
    "mbrubeck",
    "metajack",
    "michaelwu",
    "mrobinson",
    "Ms2ger",
    "notriddle",
    "nox",
    "pcwalton",
    "saneyuki",
    "SimonSapin",
    "shinglyu",
    "upsuper",
    "wafflespeanut",
    "zmike",
] %}

{% set operators = [
    "aethanyc",
    "birtles",
    "BorisChiou",
    "bradwerth",
    "chenpighead",
    "ferjm",
    "hiikezoe",
    "jryans",
    "moz-servo-sync",
] %}

{% set try = [
    "askalski",
    "chandler",
    "cynicaldevil",
    "danlrobertson",
    "dsandeephegde",
    "dzbarsky",
    "froydnj",
    "Gankro",
    "gsnedders",
    "GuillaumeGomez",
    "izgzhen",
    "jyc",
    "magni-",
    "neeharanshu",
    "panup21091993",
    "paulrouget",
    "pyfisch",
    "stshine",
    "tschneidereit",
    "vvuk",
    "Yoric",
] %}

[repo.servo]
owner = "servo"
name = "servo"
reviewers = {{ reviewers + operators }}
try_users = {{ try }}

[repo.servo.github]
secret = "{{ secrets['gh-webhook-secret'] }}"

[repo.servo.buildbot]
url = "http://build.servo.org"
secret = "{{ secrets["buildbot-secret"] }}"
builders = [
    "linux-dev",
    "linux-rel-css",
    "linux-rel-wpt",
    "mac-dev-unit",
    "mac-rel-wpt1",
    "mac-rel-wpt2",
    "mac-rel-wpt3",
    "mac-rel-wpt4",
    "mac-rel-css1",
    "mac-rel-css2",
    "android",
    "arm32",
    "arm64",
    "windows-msvc-dev",
]
try_builders = [
    "linux-dev",
    "linux-rel-css",
    "linux-rel-wpt",
    "mac-dev-unit",
    "mac-rel-wpt1",
    "mac-rel-wpt2",
    "mac-rel-wpt3",
    "mac-rel-wpt4",
    "mac-rel-css1",
    "mac-rel-css2",
    "android",
    "arm32",
    "arm64",
    "windows-msvc-dev",
]
username = "{{ secrets["buildbot-http-user"] }}"
password = "{{ secrets["buildbot-http-pass"] }}"

# Disabled due to performance and instability
#[repo.servo.status.appveyor]
#context = 'continuous-integration/appveyor/branch'

# Standard per-repo configs (generated)

{% for name, repo in travis_repos.items() %}

[repo."{{ name }}"]
owner = "{{ repo.get("owner", "servo") }}"
name = "{{ name }}"
reviewers = {{ reviewers + operators + repo.get("extra_reviewers", []) }}
try_users = {{ try }}

[repo."{{ name }}".github]
secret = "{{ secrets['gh-webhook-secret'] }}"

[repo."{{ name }}".status.travis]
context = 'continuous-integration/travis-ci/push'

{% endfor %}

# Specialized per-repo configs

[repo.glutin.branch]
master = "servo"

[repo.rust-websocket.branch]
master = "servo"

# Additional AppVeyor testing for relevant repos

[repo.ipc-channel.status.appveyor]
context = 'continuous-integration/appveyor/branch'

[repo.mozjs.status.appveyor]
context = 'continuous-integration/appveyor/branch'

[repo.rust-mozjs.status.appveyor]
context = 'continuous-integration/appveyor/branch'

[repo.webrender.status.appveyor]
context = 'continuous-integration/appveyor/branch'

# dwrote only has appveyor

[repo.dwrote-rs]
owner = "servo"
name = "dwrote-rs"
reviewers = {{ reviewers + operators }}
try_users = {{ try }}

[repo.dwrote-rs.github]
secret = "{{ secrets['gh-webhook-secret'] }}"

[repo.dwrote-rs.status.appveyor]
context = 'continuous-integration/appveyor/branch'

[db]
file = "{{ db }}"
