[github]

# Information for securely interacting with GitHub. These are found/generated
# under <https://github.com/settings/applications>.

# A GitHub personal access token
access_token = "{{ pillar["homu"]["gh-access-token"] }}"

# A GitHub oauth application for this instance of homu:
app_client_id = "{{ pillar["homu"]["app-client-id"] }}"
app_client_secret = "{{ pillar["homu"]["app-client-secret"] }}"

[web]
port = 54856
secret = "{{ pillar["homu"]["web-secret"] }}"

{% set travis_repos = [
    {
        "name": "angle"
    },
    {
        "name": "app_units"
    },
    {
        "name": "cgl-rs"
    },
    {
        "name": "cocoa-rs"
    },
    {
        "name": "core-foundation-rs"
    },
    {
        "name": "core-graphics-rs"
    },
    {
        "name": "core-text-rs"
    },
    {
        "name": "devices"
    },
    {
        "name": "euclid"
    },
    {
        "name": "fontsan"
    },
    {
        "name": "futf"
    },
    {
        "name": "gaol"
    },
    {
        "name": "gleam"
    },
    {
        "name": "glutin"
    },
    {
        "name": "heapsize"
    },
    {
        "name": "highfive"
    },
    {
        "name": "homu"
    },
    {
        "name": "html5ever"
    },
    {
        "name": "io-surface-rs"
    },
    {
        "name": "ipc-channel"
    },
    {
        "name": "libexpat"
    },
    {
        "name": "libfontconfig"
    },
    {
        "name": "libfreetype2"
    },
    {
        "name": "mozjs"
    },
    {
        "name": "osmesa-src"
    },
    {
        "name": "rust-azure"
    },
    {
        "name": "rust-bindgen",
        "extra_reviewers": [ "fitzgen" ],
    },
    {
        "name": "rust-cssparser"
    },
    {
        "name": "rust-fnv"
    },
    {
        "name": "rust-fontconfig"
    },
    {
        "name": "rust-freetype"
    },
    {
        "name": "rust-glx"
    },
    {
        "name": "rust-harfbuzz"
    },
    {
        "name": "rust-layers"
    },
    {
        "name": "rust-mozjs"
    },
    {
        "name": "rust-png"
    },
    {
        "name": "rust-quicksort"
    },
    {
        "name": "rust-selectors"
    },
    {
        "name": "rust-smallvec"
    },
    {
        "name": "rust-stb-image"
    },
    {
        "name": "rust-url"
    },
    {
        "name": "saltfs"
    },
    {
        "name": "servo-starters"
    },
    {
        "name": "skia"
    },
    {
        "name": "string-cache"
    },
    {
        "name": "tendril"
    },
    {
        "name": "unicode-bidi"
    },
    {
        "name": "unicode-script"
    },
    {
        "name": "webrender"
    },
    {
        "name": "webrender_traits"
    },
] %}

{% set reviewers = [
    "aneeshusa",
    "asajeffrey",
    "bholley",
    "cbrewster",
    "edunham",
    "emilio",
    "frewsxcv",
    "glennw",
    "heycam",
    "jdm",
    "jgraham",
    "KiChjang",
    "kmcallister",
    "kvark",
    "larsbergstrom",
    "Manishearth",
    "mbrubeck",
    "metajack",
    "michaelwu",
    "mrobinson",
    "Ms2ger",
    "notriddle",
    "nox",
    "pcwalton",
    "saneyuki",
    "SimonSapin",
    "shinglyu",
    "Wafflespeanut",
    "zmike",
] %}

{% set operators = [] %}

{% set try = [
    "askalski",
    "avadacatavra",
    "canaltinova",
    "chandler",
    "cynicaldevil",
    "danlrobertson",
    "dzbarsky",
    "jryans",
    "gsnedders",
    "GuillaumeGomez",
    "izgzhen",
    "magni-",
    "paulrouget",
    "stshine",
    "tschneidereit",
    "upsuper",
    "vvuk",
    "Yoric",
] %}

[repo.servo]
owner = "servo"
name = "servo"
reviewers = {{ reviewers + operators }}
try_users = {{ try }}

[repo.servo.github]
secret = "{{ pillar["homu"]["gh-webhook-secret"] }}"

[repo.servo.buildbot]
url = "http://build.servo.org"
secret = "{{ pillar["homu"]["buildbot-secret"] }}"
builders = ["linux-dev", "linux-rel-css", "linux-rel-wpt", "mac-dev-unit", "mac-rel-wpt1", "mac-rel-wpt2", "mac-rel-css", "android", "arm32", "arm64", "windows-gnu-dev", "windows-msvc-dev"]
try_builders = ["linux-dev", "linux-rel-css", "linux-rel-wpt", "mac-dev-unit", "mac-rel-wpt1", "mac-rel-wpt2", "mac-rel-css", "android", "arm32", "arm64", "windows-gnu-dev", "windows-msvc-dev"]
username = "{{ pillar["homu"]["buildbot-http-user"] }}"
password = "{{ pillar["homu"]["buildbot-http-pass"] }}"

# Disabled due to performance and instability
#[repo.servo.status.appveyor]
#context = 'continuous-integration/appveyor/branch'

# Standard per-repo configs (generated)

{% for repo in travis_repos %}

[repo.{{ repo["name"] }}]
owner = "{{ repo.get("owner", "servo") }}"
name = "{{ repo["name"] }}"
reviewers = {{ reviewers + operators + repo.get("extra_reviewers", []) }}
try_users = {{ try }}

[repo.{{ repo["name"] }}.github]
secret = "{{ pillar["homu"]["gh-webhook-secret"] }}"

[repo.{{ repo["name"] }}.status.travis]
context = 'continuous-integration/travis-ci/push'

{% endfor %}

# Specialized per-repo configs

[repo.glutin.branch]
master = "servo"

# Additional AppVeyor testing for relevant repos

[repo.ipc-channel.status.appveyor]
context = 'continuous-integration/appveyor/branch'

[repo.mozjs.status.appveyor]
context = 'continuous-integration/appveyor/branch'

[repo.rust-mozjs.status.appveyor]
context = 'continuous-integration/appveyor/branch'
