[github]

# Information for securely interacting with GitHub. These are found/generated
# under <https://github.com/settings/applications>.

# A GitHub personal access token
access_token = "{{ pillar["homu"]["gh-access-token"] }}"

# A GitHub oauth application for this instance of homu:
app_client_id = "{{ pillar["homu"]["app-client-id"] }}"
app_client_secret = "{{ pillar["homu"]["app-client-secret"] }}"

[web]
port = 54856
secret = "{{ pillar["homu"]["web-secret"] }}"

{% set travis_repos = [
    ('crabtw', 'rust-bindgen'),
    ('servo', 'app_units'),
    ('servo', 'cgl-rs'),
    ('servo', 'cocoa-rs'),
    ('servo', 'core-foundation-rs'),
    ('servo', 'core-graphics-rs'),
    ('servo', 'core-text-rs'),
    ('servo', 'devices'),
    ('servo', 'euclid'),
    ('servo', 'fontsan'),
    ('servo', 'futf'),
    ('servo', 'gaol'),
    ('servo', 'gleam'),
    ('servo', 'glutin'),
    ('servo', 'heapsize'),
    ('servo', 'highfive'),
    ('servo', 'homu'),
    ('servo', 'html5ever'),
    ('servo', 'io-surface-rs'),
    ('servo', 'ipc-channel'),
    ('servo', 'libexpat'),
    ('servo', 'libfontconfig'),
    ('servo', 'libfreetype2'),
    ('servo', 'mozjs'),
    ('servo', 'rust-azure'),
    ('servo', 'rust-cssparser'),
    ('servo', 'rust-fnv'),
    ('servo', 'rust-fontconfig'),
    ('servo', 'rust-freetype'),
    ('servo', 'rust-glx'),
    ('servo', 'rust-harfbuzz'),
    ('servo', 'rust-layers'),
    ('servo', 'rust-mozjs'),
    ('servo', 'rust-png'),
    ('servo', 'rust-selectors'),
    ('servo', 'rust-smallvec'),
    ('servo', 'rust-stb-image'),
    ('servo', 'rust-url'),
    ('servo', 'saltfs'),
    ('servo', 'servo-starters'),
    ('servo', 'skia'),
    ('servo', 'string-cache'),
    ('servo', 'tendril'),
    ('servo', 'unicode-bidi'),
    ('servo', 'unicode-script'),
    ('servo', 'webrender'),
    ('servo', 'webrender_traits'),
] %}

{% set reviewers = [
    "aneeshusa",
    "asajeffrey",
    "bholley",
    "brunoabinader",
    "edunham",
    "eefriedman",
    "emilio",
    "frewsxcv",
    "glennw",
    "jdm",
    "jgraham",
    "KiChjang",
    "kmcallister",
    "larsbergstrom",
    "Manishearth",
    "mbrubeck",
    "metajack",
    "michaelwu",
    "mrobinson",
    "Ms2ger",
    "nox",
    "pcwalton",
    "saneyuki",
    "SimonSapin",
    "Wafflespeanut",
    "zmike",
] %}

{% set operators = [
] %}

{% set try = [
    "askalski",
    "chandler",
    "ConnorGBrewster",
    "danlrobertson",
    "dzbarsky",
    "gsnedders",
    "izgzhen",
    "magni-",
    "notriddle",
    "paulrouget",
    "tschneidereit",
    "vvuk",
    "Yoric",
] %}

[repo.servo]
owner = "servo"
name = "servo"
reviewers = {{ reviewers + operators}}
try_users = {{ try }}

[repo.servo.github]
secret = "{{ pillar["homu"]["gh-webhook-secret"] }}"

[repo.servo.buildbot]
url = "http://build.servo.org"
secret = "{{ pillar["homu"]["buildbot-secret"] }}"
builders = ["linux-dev", "linux-rel", "android", "mac-dev-unit", "mac-rel-wpt", "mac-rel-css", "arm32", "arm64", "windows"]
try_builders = ["linux-dev", "linux-rel", "android", "mac-dev-unit", "mac-rel-wpt", "mac-rel-css", "arm32", "arm64", "windows"]
username = "{{ pillar["homu"]["buildbot-http-user"] }}"
password = "{{ pillar["homu"]["buildbot-http-pass"] }}"

# Disabled due to performance and instability
#[repo.servo.status.appveyor]
#context = 'continuous-integration/appveyor/branch'

# Standard per-repo configs (generated)

{% for repo in travis_repos %}

[repo.{{ repo[1] }}]
owner = "{{ repo[0] }}"
name = "{{ repo[1] }}"
reviewers = {{ reviewers + operators }}
try_users = {{ try }}

[repo.{{ repo[1] }}.github]
secret = "{{ pillar["homu"]["gh-webhook-secret"] }}"

[repo.{{ repo[1] }}.travis]
token = "{{ pillar["homu"]["travis-ci-token"] }}"

{% endfor %}

# Specialized per-repo configs

[repo.glutin.branch]
master = "servo"
