# Priority values above max_priority will be refused.
max_priority = 9002

[github]

# Information for securely interacting with GitHub. These are found/generated
# under <https://github.com/settings/applications>.

# A GitHub personal access token
access_token = "{{ secrets['gh-access-token'] }}"

# A GitHub oauth application for this instance of homu:
app_client_id = "{{ secrets['app-client-id'] }}"
app_client_secret = "{{ secrets['app-client-secret'] }}"

[web]
host = "0.0.0.0"
port = 54856
secret = "{{ secrets['web-secret'] }}"

# When adding a new chooser, also add it to the "branch" field of the "servo-try" entry in
# https://github.com/mozilla/treeherder/blob/master/treeherder/model/fixtures/repository.json
{% set servo_try_choosers = [
    "linux",
    "mac",
    "windows",
    "windows-rdp",
    "wpt",
    "wpt-2020",
    "wpt-mac",
    "wpt-android",
    "android",
    "magicleap",
    "arm",
] %}
{% set repos = {
    "angle": {},
    "app_units": {
        "travis": False,
        "github": True,
    },
    "cgl-rs": {},
    "cocoa-rs": {},
    "core-foundation-rs": {
        "extra_reviewers": [ "mstange" ],
        "travis": False,
        "github": True,
    },
    "core-graphics-rs": {},
    "core-text-rs": {},
    "devices": {},
    "download.servo.org": {
        "travis": False,
        "github": True,
    },
    "dwrote-rs": {
        "travis": False,
        "github": True,
    },
    "euclid": {
        "extra_reviewers": [ "nical" ],
        "travis": False,
        "github": True,
    },
    "font-kit": {
        "travis": False,
        "github": True,
    },
    "fontsan": {
        "travis": False,
        "github": True,
    },
    "futf": {
        "travis": False,
        "github": True,
    },
    "gaol": {},
    "gecko-media": {
        "extra_reviewers": [ "cpearce", "philn" ],
    },
    "gleam": {
        "extra_reviewers": [ "mstange", "nical" ],
        "travis": False,
        "github": True,
    },
    "glutin": {},
    "heapsize": {},
    "highfive": {},
    "homu": {},
    "html5ever": {
        "extra_reviewers": [ "Ygg01" ],
        "github": True,
        "travis": False,
    },
    "hyper_serde": {
        "travis": False,
        "github": True,
    },
    "io-surface-rs": {},
    "ipc-channel": {
        "extra_reviewers": [ "antrik", "dlrobertson" ],
        "travis": False,
        "github": True,
    },
    "libexpat": {},
    "libfontconfig": {},
    "libfreetype2": {},
    "media": {
        "extra_reviewers": [ "ceyusa", "philn", "sdroege" ],
        "appveyor": True,
        "travis": False,
        "github": True,
    },
    "mozangle": {
        "appveyor": True,
    },
    "mozjs": {
        "github": True,
        "travis": False,
    },
    "osmesa-src": {
        "github": True,
        "travis": False,
    },
    "pathfinder": {
        "extra_reviewers": [ "s3bk" ],
        "github": True,
        "travis": False,
    },
    "plane-split": {
        "extra_reviewers": [ "nical" ],
        "github": True,
        "travis": False,
    },
    "rust-azure": {},
    "rust-bindgen": {
        "extra_reviewers": [ "fitzgen" ],
        "owner": "rust-lang",
        "travis": False,
        "travis-legacy": True,
    },
    "rust-cssparser": {
        "github": True,
        "travis": False,
    },
    "rust-fnv": {},
    "rust-fontconfig": {},
    "rust-freetype": {},
    "rust-glx": {},
    "rust-harfbuzz": {
        "extra_reviewers": [ "waywardmonkeys" ],
        "appveyor": False,
        "github": True,
        "travis": False,
    },
    "rust-layers": {},
    "rust-mozjs": {
        "github": True,
        "travis": False,
    },
    "rust-png": {},
    "rust-quicksort": {},
    "rust-selectors": {},
    "rust-smallvec": {
        "travis": False,
        "github": True,
    },
    "rust-stb-image": {},
    "rust-url": {
        "extra_reviewers": [ "Hoverbear" ],
    },
    "rust-websocket": {},
    "rust-webvr": {
      "extra_reviewers": [ "MortimerGoro" ],
    },
    "servo": {
        "travis": False,
        "taskcluster": False,
        "github": True,
        "try_choosers": servo_try_choosers,
    },
    "saltfs": {},
    "servo-starters": {},
    "servo-warc-tests": {},
    "skia": {},
    "string-cache": {
        "travis": False,
        "github": True,
    },
    "surfman": {
        "travis": False,
        "github": True,
    },
    "tendril": {
        "travis": False,
        "github": True,
    },
    "unicode-bidi": {
        "extra_reviewers": [ "behnam" ],
        "travis": False,
        "github": True,
        "appveyor": True,
    },
    "unicode-script": {},
    "webrender": {
        "extra_reviewers": [ "nical", "Gankro", "staktrace", "moz-gfx" ],
        "taskcluster": True,
        "travis": False,
    },
    "webrender_traits": {
        "travis": False,
    },
    "webxr": {
      "extra_reviewers": [ "MortimerGoro" ],
      "travis": False,
      "github": True,
    },
} %}

{% set reviewers = [
    "aneeshusa",
    "asajeffrey",
    "avadacatavra",
    "bholley",
    "bzbarsky",
    "canaltinova",
    "cbrewster",
    "delan",
    "edunham",
    "emilio",
    "ferjm",
    "frewsxcv",
    "glennw",
    "gterzian",
    "gw3583",
    "heycam",
    "jdm",
    "jgraham",
    "jrmuizel",
    "KiChjang",
    "kmcallister",
    "kvark",
    "larsbergstrom",
    "Loirooriol",
    "Manishearth",
    "mbrubeck",
    "metajack",
    "michaelwu",
    "mrego",
    "mrobinson",
    "mukilan",
    "Ms2ger",
    "notriddle",
    "nox",
    "paulrouget",
    "pcwalton",
    "SimonSapin",
    "shinglyu",
    "tetsuharuohzeki",
    "upsuper",
    "wafflespeanut",
    "zmike",
] %}

{% set operators = [
    "aethanyc",
    "birtles",
    "BorisChiou",
    "bradwerth",
    "chenpighead",
    "hiikezoe",
    "jryans",
    "moz-servo-sync",
    "servo-wpt-sync",
] %}

{% set try = [
    "askalski",
    "chandler",
    "CYBAI",
    "cynicaldevil",
    "danlrobertson",
    "delan",
    "dsandeephegde",
    "dzbarsky",
    "Eijebong",
    "froydnj",
    "Gankro",
    "georgeroman",
    "gootorov",
    "gsnedders",
    "gterzian",
    "GuillaumeGomez",
    "izgzhen",
    "jonleighton",
    "jyc",
    "kunalmohan",
    "Loirooriol",
    "magni-",
    "mandreyel",
    "marmeladema",
    "MeFisto94",
    "mrego",
    "mrobinson",
    "neeharanshu",
    "negator",
    "panup21091993",
    "paulrouget",
    "pshaughn",
    "pyfisch",
    "pylbrecht",
    "saschanaz",
    "stshine",
    "teymour-aldridge",
    "tigercosmos",
    "tschneidereit",
    "vvuk",
    "Yoric",
] %}

# Standard per-repo configs (generated)

{% for name, repo in repos.items() %}

[repo."{{ name }}"]
owner = "{{ repo.get("owner", "servo") }}"
name = "{{ name }}"
reviewers = {{ reviewers + operators + repo.get("extra_reviewers", []) }}
try_users = {{ try }}
try_choosers = {{ repo.get("try_choosers", []) }}

[repo."{{ name }}".github]
secret = "{{ secrets['gh-webhook-secret'] }}"

{% if repo.get('github', False) %}
[repo."{{ name }}".checks.github]
name = "homu build finished"
{% endif %}

{% if repo.get('travis', True) %}
[repo."{{ name }}".checks.travis]
name = "Travis CI - Branch"
{% endif %}

{% if repo.get('travis-legacy', False) %}
[repo."{{ name }}".status.travis]
context = 'continuous-integration/travis-ci/push'
{% endif %}

{% if repo.get('appveyor', False) %}
[repo."{{ name }}".status.appveyor]
context = 'continuous-integration/appveyor/branch'
{% endif %}

{% if repo.get('taskcluster', False) %}
[repo."{{ name }}".status.taskcluster]
context = 'Community-TC (push)'
{% endif %}

{% endfor %}

# Specialized per-repo configs

[repo.glutin.branch]
master = "servo"

[repo.rust-websocket.branch]
master = "servo"

[db]
file = "{{ db }}"
