{%
  set homebrew = salt['grains.filter_by']({
      'defaults': {},
      'Darwin': { 'user': 'administrator' }
    },
    base='defaults',
    merge=salt.pillar.get('homebrew', {}),
    grain='kernel'
  )
%}
