# Python modules needed for testing
# (Travis-CI will auto-install them from this file)
flake8 == 2.5.4
toml == 0.9.1  # Please ensure this is in sync with homu/init.sls
requests == 2.13.0 # Required for valid_repos
