[Unit]
Description=Job that runs the WPT webhook
Requires=network-online.target

[Service]
ExecStart=/home/wpt-sync/upstream-wpt-sync-webhook/_venv/bin/upstream_wpt_webhook
Environment=HOME=/home/wpt-sync
Environment=LANG=C.UTF-8
User=wpt-sync
Group=wpt-sync
WorkingDirectory=/home/wpt-sync/upstream-wpt-sync-webhook

[Install]
WantedBy=multi-user.target
