HostKey /etc/ssh/ssh_host_ed25519_key
KexAlgorithms curve25519-sha256@libssh.org
Ciphers chacha20-poly1305@openssh.com

# Only pubkey authentication is enabled, i.e. password logins are disabled
PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
AuthenticationMethods publickey
# TODO: Disable root login after creating per-user accounts
PermitRootLogin yes

MaxAuthTries 2
LoginGraceTime 1m

{% if grains['kernel'] == 'Linux' %}
UsePAM yes
# PAM does this
PrintMotd no
{% endif %}

UsePrivilegeSeparation sandbox
# LogLevel VERBOSE logs user's key fingerprint on login.
# Needed to have a clear audit track of which key was using to log in.
LogLevel VERBOSE
