{%
  set homu = {
    'db': '/var/homu/main.db',
    'rev': 'ce2048f99c3ade143500b1af7e847e1675bd3da3',
    'servo_try_choosers': {
        'linux': ['linux-dev'],
        'mac': ['mac-dev-unit'],
        'windows': ['windows-msvc-dev'],
        'wpt': ['linux-rel-css', 'linux-rel-wpt'],
        'android': ['android', 'android-x86', 'android-mac'],
        'magicleap': ['magicleap'],
        'arm': ['arm32', 'arm64']
    }
  }
%}
