{%
  set admin = {
    'ssh_users': [
      'ajeffrey',
      'aneeshusa',
      'avadacatavra',
      'edunham',
      'emilio',
      'eijebong',
      'gw',
      'jack',
      'jdm',
      'jlempereur',
      'jonleighton',
      'larsberg',
      'manishearth',
      'mbrubeck',
      'Ms2ger',
      'mwu',
      'notriddle',
      'pcwalton',
      'simonsapin'
    ]
  }
%}
