{%
  set common = salt['grains.filter_by']({
      'defaults': {
        'servo_home': '/home/servo',
      },
      'MacOS': {
        'servo_home': '/Users/servo'
      }
    },
    base='defaults',
    grain='os'
  )
%}

{%
  set root = salt['grains.filter_by']({
      'defaults': {
        'user': 'root',
        'group': 'root'
      },
      'MacOS': {
        'group': 'wheel'
      },
      'Windows': {
        'user': 'Administrators'
      }
    },
    base='defaults',
    grain='os',
  )
%}
