{%
  set common = salt['grains.filter_by']({
      'defaults': {
        'servo_home': '/home/servo',
        'ssh_users': [
          'ajeffrey',
          'aneeshusa',
          'avadacatavra',
          'edunham',
          'emilio',
          'gw',
          'jack',
          'jdm',
          'larsberg',
          'manishearth',
          'mbrubeck',
          'Ms2ger',
          'mwu',
          'notriddle',
          'pcwalton',
          'simonsapin'
        ]
      },
      'Darwin': {
        'servo_home': '/Users/servo'
      }
    },
    base='defaults',
    grain='kernel'
  )
%}
