{%
  set arm = {
    'targets': [
      {
        'name': 'arm-linux-gnueabihf',
        'download_name': 'armhf-xenial-libs',
        'symlink_name': 'arm-unknown-linux-gnueabihf',
        'version': 'v1',
        'sha512': '12290342ed068028656d7c43c38cae340404fcfb0ef3a570e206a6149db9b68f54e0f50d617435c3184405caae860e56100c08b3ee72be10be1a407d9871d30e'
      },
      {
        'name': 'aarch64-linux-gnu',
        'download_name': 'arm64-xenial-libs',
        'symlink_name': 'aarch64-unknown-linux-gnu',
        'version': 'v1',
        'sha512': 'fd750b3584352fd9ed9663891dfbda384982fec682f613ffa34f02c0b14d3c5f0121c51fd5fd7aac3e9cbf36df85c3395633a7ebf01fd656c709decc60b7056a'
      }
    ]
  }
%}
