{% set salt_ = salt %}
{%
  set salt = {
    'version': '2016.3.3',
    'master': salt['grains.filter_by']({
        'defaults': {
          'config': {
            'fileserver_backend': [ 'roots', 'git' ],
            'file_roots': {
              'base': [ '/tmp/salt-testing-root/saltfs' ]
            },
            'gitfs_remotes': [ 'https://github.com/servo/saltfs.git' ],
            'gitfs_env_whitelist': [ 'base' ],
            'pillar_roots': {
              'base': [ '/srv/pillar' ]
            }
          }
        },
        'Ubuntu': {
          'pkg': {
            'name': 'salt-master',
            'version': '2016.3.3+ds-1'
          }
        }
      },
      base='defaults',
      grain='os',
    )
  }
%}
