{%
  set salt = {
    'version': '2015.5.8',
    'master': salt['grains.filter_by']({
        'defaults': {
          'config': {
            'fileserver_backend': [ 'roots', 'git' ],
            'file_roots': {
              'base': [ '/tmp/salt-testing-root' ]
            },
            'gitfs_remotes': [ 'https://github.com/servo/saltfs.git' ],
            'gitfs_env_whitelist': [ 'base' ],
            'pillar_roots': {
              'base': [ '/srv/pillar' ]
            }
          }
        },
        'Ubuntu': {
          'pkg': 'salt-master',
          'version': '2015.5.8+ds-1'
        }
      },
      base='defaults',
      grain='os',
    )
  }
%}
