{%
  set servo-gecko-try = {
    'servo-clone': '/home/servo/servo-clone',
    'm-c': '/home/servo/m-c-clone',
    'autoland': '/home/servo/autoland-clone',
    'vct': '/home/servo/.mozbuild/verson-control-tools',
  }
%}
